*{
    font-family: "Roboto", sans-serif;
    }
.bg{
    background-image: url(./assets/images/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: sticky;
    top: 0; */
    height: 600px;
}
.header{
    padding: 5px;
}
.header1-left label{
    color: gray;
}
.header1-left label a{
    text-decoration: none;
    color: black;
}
.header1-left{
    padding-top: 5px;
}
.header1-right{
    text-align: end;
}
.header1-right a i{
    padding: 6px 6px 6px 6px ;
    /* width: 35px;
    height: 35px; */
    border-radius: 100%;
    background-color: white;
    font-size: 20px;
    color: black;
}
.header1-right a i:hover{
    color: white;
    background-color:#fd4c82 ;
}
.head-icon{
    font-weight: 600;
}
.head-logo{
    font-size: 30px;
}
.header-2{
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    position: sticky;
    top: 0;
}
.header-2 ul li a{
    font-weight: 700;

}
.btn{
    border-radius: 0;
    padding: 15px;
    border: none;
    background-color:#fd4c82 ;
    color: white;
}
.container .banner1  h1{
    font-size: 50px;
    font-weight: bolder;
    margin-top: 20px;
}
.container .banner1  p{
    font-weight: 500;
    font-size: 13px;
    margin-top: 20px; 
    color: gray;
    line-height: 25px;
}
 .button button{

   padding: 20px;
   border: none;
   border-radius: 10px;
   color: white;
}
.button .color1{
    background-color:#fd4c82;
    font-weight:500;
}
.button .color2{
    width: 200px;
    background-color:#28a745;
    border: 3px solid rgb(212, 202, 202);
    font-weight: 700;
}
.button .color2:hover{
    background-color: unset;
    border: 3px solid rgb(212, 202, 202);
    color: #28a745;
}
.footer-end{
    margin-top: 20px;
}
.footer-end .list ul li{
    list-style-type: none;
    font-size: medium;
    padding: 5px;
  }
.footer-end ul li h5{
font-weight: 800;
}

  .footer-end .list ul li i{
    color: #fd4c82;
    padding: 5px;
  }
  .logo{
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #fd4c82;
    margin-left: 5px;
  }